<div class = "demo">
    <button pButton pRipple type="button" class="p-button" style="float:right" (click)="logout()">LogOut</button>

</div>
<div *ngIf="user">

    <img src="{{ user.photoUrl }}"> 

    <div><h4>USER DETAILS: </h4>
        <p><b>User Name: </b>{{ user.name }}<p> 
        <p><b>Email:</b>{{ user.email }}</p>
        <p><b>ID:</b>{{user.id}}</p>
        <p><b>Provider:</b>{{user.provider}}</p>

    </div>

</div>

<p-table id="excel-table" class="table" [value]="data" responsiveLayout="scroll" [rows]="6"
    [showCurrentPageReport]="true" responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[1,3,5,10]">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="username">CUSTOMERNAME <p-sortIcon field="username"></p-sortIcon>
            </th>
            <th pSortableColumn="email">EMAIL <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th pSortableColumn="mobileid">MOBILEID <p-sortIcon field="mobileid"></p-sortIcon>
            </th>
            <th pSortableColumn="mobilename">MOBILENAME <p-sortIcon field="mobilename"></p-sortIcon>
            </th>
            <th pSortableColumn="mobilename">PROVIDER <p-sortIcon field="mobilename"></p-sortIcon>
            </th>
            <th pSortableColumn="quantity">QUANTITY <p-sortIcon field="quantity"></p-sortIcon>
            </th>
            <th pSortableColumn="price">PRICE <p-sortIcon field="price"></p-sortIcon>
            </th>

            <th>ACTIONS</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-each>
        <tr>
            <td>{{each.name}}</td>
            <td>{{each.email}}</td>
            <td>{{each.mobileid}}</td>
            <td>{{each.mobilename}}</td>
            <td>{{each.provider}}</td>
            <td>{{each.quantity}}</td>
            <td>{{each.price}}</td>

            <button pButton pRipple type="button" label="Update"  class="p-button-raised p-button-help p-button-text" (click)="onUpdate(each.mobileid)"></button>&nbsp;&nbsp;

            <button pButton pRipple type="button" label="Delete"  class="p-button-raised p-button-danger p-button-text " (click)="onDelete(each.mobileid)"></button>

            <br>
        </tr>
    </ng-template>
</p-table>


























<!-- (click)="onPatch(each.id)"
                class="p-button-raised p-button-help p-button-text" routerLink="/update"

(click)="onDelete(each.id)"
                class="p-button-raised p-button-danger p-button-text"
            
            
            <button pButton pRipple type="button" label="New" class="p-button-raised p-button-success p-button-text"
                routerLink="/form"></button>  -->
